<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<ul class='ul-search-input'>

		<li>
			<div class="container">
			<div class="col-xs-8 col-sm-8 col-md-8">
				<input ng-model='userEntry' type="number" class="form-control input-md" placeholder='ISBN'>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3">
				<button ng-click='findByISBN(userEntry)' class="btn btn-primary btn-block">Find by ISBN</button>
			</div>
			</div>

			<!-- -->

			<div class="container">
			<div class="col-xs-8 col-sm-8 col-md-8">
				<input ng-model='userEntry' type="number" class="form-control input-md" placeholder='{{input.placeholder}}'>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3">
				<button ng-click='findByISBN(userEntry)' class="btn btn-primary btn-block">{{input.button}}</button>
			</div>
			</div>

			<!-- -->

			<div class="container">
			<div class="col-xs-8 col-sm-8 col-md-8">
				<input ng-model='userEntry' type="number" class="form-control input-md" placeholder='{{input.placeholder}}'>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3">
				<button ng-click='findByISBN(userEntry)' class="btn btn-primary btn-block">{{input.button}}</button>
			</div>
			</div>
		</li>
	</ul>
</body>
</html>