<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<ul class='ul-search-input'>

		<li>
			<div class="container">
			<div class="col-xs-8 col-sm-8 col-md-8">
				<input ng-model='isbnInput' type="number" class="form-control input-md" placeholder='ISBN'>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3">
				<button ng-click='findByISBN(isbnInput)' class="btn btn-primary btn-block">Find by ISBN</button>
			</div>
			</div>

			<!-- -->

			<div class="container">
			<div class="col-xs-8 col-sm-8 col-md-8">
				<input ng-model='nameInput' type="number" class="form-control input-md" placeholder='Name of Author'>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3">
				<button ng-click='findByAuthor(nameInput)' class="btn btn-primary btn-block">Find Author</button>
			</div>
			</div>

			<!-- -->

			<div class="container">
			<div class="col-xs-8 col-sm-8 col-md-8">
				<input ng-model='titleInput' type="number" class="form-control input-md" placeholder='Title'>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3">
				<button ng-click='findByBookTitle(titleInput)' class="btn btn-primary btn-block">Find Titles</button>
			</div>
			</div>
		</li>
	</ul>
</body>
</html>